body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to left, rgb(228, 155, 255), rgb(169, 38, 230));
}

.wraper{
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: left;
    border: solid white 1px;
        background: linear-gradient(to left, rgb(64, 44, 238), rgb(9, 13, 230));

}

.ToDOList{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.ToDoTask{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px white;
    list-style-type: none;
    padding: 5px;
    color: white;
}

.taskContent{
    font-family: 'Bitter', serif;
    font-size: 15px;
}
.taskstar{
    padding: 5px;
}

.taskstar:hover{
    cursor: pointer;
    color: rgb(255, 157, 0);
}

.taskstaron{
     padding: 5px;
     color: rgb(255, 157, 0);
}

.deleteBtn:hover{
    cursor: pointer;
    color: red;
}

.editTask{
     padding: 5px;
    color: white;
}

.editTask:hover{
    cursor: pointer;
    color: green;

}

.editpressed{
        color: green;
         padding: 5px;
}

.hide{
    display: none;
}

.InputBar{
    font-family: 'Bitter', serif;
    border: none;
    outline: none;
    padding: 3px;
    background: inherit;
    color: white;
    font-family: 'Bitter', serif;
    font-size: 15px;
}

.InputBar::placeholder{
    color: white;
}



.logo{
  
}
/* EasyTask */


